<?php
    require('vendor/autoload.php');
    // Define mysql server settings
    $serverName = "{{tf_dbendpoint}}";
    $username = "{{tf_dbuser}}";
    $password = "{{tf_dbpassword}}";
    $dbName = "employees";

    // Create a new mysqli connection. Remember to enable this in php.ini !!
    $conn = new mysqli($serverName, $username, $password, $dbName);